body {
  background: green;
  margin: 0;
  padding: 0;
}

#content {
  background: purple;
  color: white;
}

#navbar {
  border-bottom: 1px solid white;
  background: black;
  height: 45px;
}
#navbar #logo {
  display: inline-block;
  position: absolute;
  left: 0;
  padding: 12px;
  font-size: 20px;
}
#navbar ul {
  list-style: none;
  position: absolute;
  right: 5px;
}
#navbar li {
  display: inline-block;
}
#navbar a {
  color: lightgray;
  padding: 5px;
}

.card {
  width: 400px;
  background: black;
  border-radius: 5px;
  margin: 15px auto;
}
.card .title{
  border-bottom: 1px solid white;
  text-align: center;
  padding: 10px;
}
.card p {
  color: lightgray;
  padding: 10px;
  font-size: 20px;
}
.card img {
  width: 80%;
  margin: 0 35px;
}

#footer {
  background: black;
  height: 50px;
}
#footer h4 {
  color: gray;
  text-align: center;
  padding: 10px;
}