body {
  margin: 0;
}

#content {
  background: url("../Images/background.jpg") no-repeat;
  color: white;
  height: 1000px;
} 
#navbar {
  background: black;
  height: 45px;
}
#navbar #logo {
  display: inline-block;
  position: absolute;
  left: 0;
  padding: 15px;
}
#navbar ul {
  list-style: none;
  position: absolute;
  right: 5px;
}
#navbar li {
  display: inline-block;
}
#navbar a {
  color: lightgray;
  padding: 5px;
}